body{
    background-color: antiquewhite;
}

.style1{
    border-style: solid;
    border: aqua 4px solid ;
    width: 400px;
}
.style2{
    border-style: solid;
    border: blueviolet 4px solid ;
    width: 400px;
    margin: 50px 0 0 0;
}
.style3{
    float: left;
}